.boxes {
  height: 100vh;
}

.top-box {
  background: transparent linear-gradient(224deg, #049dbf00 37%, #049dbf 87%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: -22%;
  left: -134px;
  width: 855px;
  height: 401px;
  transform: rotate(335deg);
}

.middle-box {
  margin-top: 18%;
  z-index: 1;
  position: relative;
}

.middle-box > .left {
  width: 100%;
  position: absolute;
  top: 76px;
  padding: 30px 52px;
}

.middle-box > .left > h1 {
  font-family: "sf-pro-display-bold";
  font-size: 51px;
  letter-spacing: 7px;
  color: $blue-color;
  text-transform: uppercase;
}

.middle-box > .left > p {
  color: #0d0d0d;
  font-size: 26px;
  margin-top: 27px;
  letter-spacing: 3px;
}

.middle-box > .left > p > span {
  color: $blue-sky-color;
}

.middle-box > .layer {
  position: absolute;
  top: -16vh;
  right: 4%;
  width: 1190px;
  height: 718px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bottom-box {
  position: relative;
  bottom: -48vh;
  left: -142px;
  width: 2500px;
  height: 853px;
  background: transparent linear-gradient(360deg, #049dbf00 0%, #049dbf2d 45%, #049dbf 163%) 0% 0% no-repeat padding-box;
  opacity: 1;
  transform: rotate(347deg);
}

.who {
  position: relative;
  left: 16%;
  top: -22vh;
  width: max-content;
}

.who > h1 {
  color: $blue-color;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 22px;
}

.who > p {
  color: $black-color;
  font-size: 18px;
  width: 840px;
}

.solves {
  text-align: center;
  position: relative;
}

.solves > h1 {
  text-transform: uppercase;
  color: $blue-color;
  font-family: "sf-pro-display-bold";
  font-size: 34px;
  letter-spacing: 3px;
}

.solves > .plates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.solves > .plates > .plate {
  background: white;
  margin: 58px 33px;
  padding: 55px 41px;
  border-radius: 10px;
  box-shadow: 0px 2px 6px #a3a3a359;
  width: 322px;
  height: 331px;
  position: relative;
  top: 6vh;
  transition: all 1s ease;
}

.solves > .plates > .plate.middle > img {
  width: 186px;
}

.solves > .plates > .plate > img {
  width: 156px;
}

.solves > .plates > .plate > h1 {
  color: #0378a6;
  font-family: "sf-pro-display-medium";
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  margin-top: 47px;
}

.steps {
  text-align: center;
  position: relative;
}

.steps > h1 {
  text-transform: uppercase;
  color: $blue-color;
  font-family: "sf-pro-display-bold";
  font-size: 34px;
  letter-spacing: 3px;
  margin-top: 9%;
}

.steps > .middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 42px;
  margin-bottom: 29%;
}

.steps > .middle > .steps-background {
  width: 143vh;
}

.steps > .middle > .steps-responsive {
  width: 143vh;
  height: 75vh;
  display: none;
}

.steps > .middle > .step {
  position: absolute;
}

.steps > .middle > .step > .case {
  background-position: center !important;
  background-size: cover !important;
  width: 261px;
  height: 261px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 12px;
  box-shadow: 4px 0px 10px #6a6a6a40;
}

.steps > .middle > .step > .case > .filter {
  background: #0378a6;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0.6;
  position: absolute;
}

.steps > .middle > .step > .case > .middle {
  margin-top: 104px;
  position: relative;
  z-index: 2;
  top: 37%;
}

.steps > .middle > .step > .case > .middle > h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 9px 0;
  text-transform: uppercase;
}

.steps > .middle > .step > .brand {
  position: relative;
  background: #049dbf;
  color: white;
  height: 261px;
  margin-left: 251px;
  width: 49vh;
  text-align: initial;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  animation: 0.3s brand-appear alternate;
}

.steps > .middle > .step > .brand.activate {
  display: block;
}

.steps > .middle > .step > .brand > p {
  position: absolute;
  top: -17px;
  margin: 65px 35px;
  font-size: 17px;
  width: 351px;
}

.steps > .middle > .step[step="1"] {
  top: 15%;
  left: 8%;
}

.steps > .middle > .step[step="1"] > .case {
  background: url(../images/steps/1-step.png);
}

.steps > .middle > .step[step="1"] > .brand {

}

.steps > .middle > .step[step="2"] {
  top: 53%;
  right: 8%;
}

.steps > .middle > .step[step="2"] > .case {
  background: url(../images/steps/2-step.png);
}

.steps > .middle > .step[step="2"] > .brand {
  right: 94%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.steps > .middle > .step[step="3"] {
  left: 11%;
  bottom: -28%;
}

.steps > .middle > .step[step="3"] > .case {
  background: url(../images/steps/3-step.png);
}

.steps > .middle > .step[step="3"] > .brand {
  background: url(../images/steps/3-step.png);
}

.steps > .middle > .eclipse {
  width: 46px;
  height: 46px;
  background: $blue-sky-color;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  margin-left: 90px;
}footer > .wrapper {
    display: -webkit-box;
    justify-content: center;
    padding-bottom: 97px;
}

/* RESPONSIVE */
/*@media screen and (max-width: 1035px) {}*/