/* FONTS */
@font-face {
  src: url(../fonts/SF-Pro-Display-Light.otf);
  font-family: "sf-pro-display-light";
}
@font-face {
  src: url(../fonts/SF-Pro-Display-Bold.otf);
  font-family: "sf-pro-display-bold";
}
@font-face {
  src: url(../fonts/SF-Pro-Display-Medium.otf);
  font-family: "sf-pro-display-medium";
}
@font-face {
  src: url(../fonts/SF-Pro-Display-Regular.otf);
  font-family: "sf-pro-display-regular";
}
/* BASIC */
*,
*::before,
*::after {
  outline: none;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "sf-pro-display-light";
  scroll-behavior: smooth;
  overflow-x: hidden !important;
  background: transparent conic-gradient(from 90deg at 0% 0%, #ffffff 0%, #023859 100%) 0% 0% no-repeat padding-box;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #023859;
  border: 2px solid #f1f1f1;
  border-radius: 100px;
}

/* IMPORTATIONS */
.intro {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  -webkit-transition: top 0.4s ease;
  transition: top 0.4s ease;
  background: #d4e8e2;
  width: 100%;
}

.intro > video {
  width: 101%;
  height: 111vh;
}

header {
  height: 112px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff00;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  z-index: 9999;
}

header > a > img {
  position: absolute;
  top: 30px;
  left: 100px;
}

header > nav {
  text-align: center;
}

header > nav > ul {
  margin: 43px 0;
}

header > nav > ul > li {
  display: inline-block;
  margin: 0 11px;
  color: #0d0d0d;
  font-size: 117%;
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s;
}
header > nav > ul > li:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #131313;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-top: 5px;
}
header > nav > ul > li:hover:after {
  width: 100%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

header > nav > ul > li.none:after {
  display: none;
}

header > nav > ul > li > a {
  color: #0d0d0d;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
header > nav > ul > li > a:hover {
  color: #131313;
}

header > .right {
  position: absolute;
  top: 43px;
  right: 100px;
}

header > .right > a {
  text-decoration: none;
  color: white;
  padding: 12px 22px;
  background: #023859;
  border-radius: 100px;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-box-shadow: 0px 2px 8px #91919166;
          box-shadow: 0px 2px 8px #91919166;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
header > .right > a:hover {
  background: #0378a6;
}

.responsive {
  display: none;
  margin: 35px 0;
}

.responsive > .responsive-image {
  text-align: center;
}

.responsive > .menu {
  position: absolute;
  left: 43px;
}

.responsive > .menu > .burger {
  width: 37px;
  cursor: pointer;
}

.responsive > .menu > .burger > .line {
  width: 100%;
  height: 3px;
  margin: 9px 0;
  background: #0378a6;
}

.responsive > .menu > nav {
  width: 100%;
  background: #023859;
  position: fixed;
  top: 111px;
  left: -100%;
  -webkit-transition: left 0.4s ease;
  transition: left 0.4s ease;
  height: 100vh;
}

.responsive > .menu > nav.activated {
  left: 0;
}

.responsive > .menu > nav > ul {
  list-style: none;
}

.responsive > .menu > nav > ul > li {
  margin: 65px 43px;
  width: 88%;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 22px;
  cursor: pointer;
}
.responsive > .menu > nav > ul > li:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  margin-top: 14px;
  border-radius: 100px;
  margin-left: 24px;
}
.responsive > .menu > nav > ul > li:hover:after {
  width: 28%;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}
.responsive > .menu > nav > ul > li:hover {
  font-weight: bold;
}

.responsive > .menu > nav > ul > li > a {
  text-decoration: none;
  color: white;
  padding: 19px 26px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 28px;
}

/* RESPONSIVE */
/*@media screen and (max-width: 1035px) {}*/
.boxes {
  height: 100vh;
}

.top-box {
  background: transparent linear-gradient(224deg, #049dbf00 37%, #049dbf 87%) 0% 0% no-repeat padding-box;
  position: absolute;
  top: -22%;
  left: -134px;
  width: 855px;
  height: 401px;
  -webkit-transform: rotate(335deg);
          transform: rotate(335deg);
}

.middle-box {
  margin-top: 18%;
  z-index: 1;
  position: relative;
}

.middle-box > .left {
  width: 100%;
  position: absolute;
  top: 76px;
  padding: 30px 52px;
}

.middle-box > .left > h1 {
  font-family: "sf-pro-display-bold";
  font-size: 51px;
  letter-spacing: 7px;
  color: #0378a6;
  text-transform: uppercase;
}

.middle-box > .left > p {
  color: #0d0d0d;
  font-size: 26px;
  margin-top: 27px;
  letter-spacing: 3px;
}

.middle-box > .left > p > span {
  color: #049dbf;
}

.middle-box > .layer {
  position: absolute;
  top: -16vh;
  right: 4%;
  width: 1190px;
  height: 718px;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.bottom-box {
  position: relative;
  bottom: -48vh;
  left: -142px;
  width: 2500px;
  height: 853px;
  background: transparent -webkit-gradient(linear, left bottom, left top, from(#049dbf00), color-stop(45%, #049dbf2d), color-stop(163%, #049dbf)) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(360deg, #049dbf00 0%, #049dbf2d 45%, #049dbf 163%) 0% 0% no-repeat padding-box;
  opacity: 1;
  -webkit-transform: rotate(347deg);
          transform: rotate(347deg);
}

.who {
  position: relative;
  left: 16%;
  top: -22vh;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.who > h1 {
  color: #0378a6;
  font-size: 38px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 22px;
}

.who > p {
  color: #0d0d0d;
  font-size: 18px;
  width: 840px;
}

.solves {
  text-align: center;
  position: relative;
}

.solves > h1 {
  text-transform: uppercase;
  color: #0378a6;
  font-family: "sf-pro-display-bold";
  font-size: 34px;
  letter-spacing: 3px;
}

.solves > .plates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.solves > .plates > .plate {
  background: white;
  margin: 58px 33px;
  padding: 55px 41px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 6px #a3a3a359;
          box-shadow: 0px 2px 6px #a3a3a359;
  width: 322px;
  height: 331px;
  position: relative;
  top: 6vh;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.solves > .plates > .plate.middle > img {
  width: 186px;
}

.solves > .plates > .plate > img {
  width: 156px;
}

.solves > .plates > .plate > h1 {
  color: #0378a6;
  font-family: "sf-pro-display-medium";
  font-size: 20px;
  letter-spacing: 2px;
  position: relative;
  text-transform: uppercase;
  margin-top: 47px;
}

.steps {
  text-align: center;
  position: relative;
}

.steps > h1 {
  text-transform: uppercase;
  color: #0378a6;
  font-family: "sf-pro-display-bold";
  font-size: 34px;
  letter-spacing: 3px;
  margin-top: 9%;
}

.steps > .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 42px;
  margin-bottom: 29%;
}

.steps > .middle > .steps-background {
  width: 143vh;
}

.steps > .middle > .steps-responsive {
  width: 143vh;
  height: 75vh;
  display: none;
}

.steps > .middle > .step {
  position: absolute;
}

.steps > .middle > .step > .case {
  background-position: center !important;
  background-size: cover !important;
  width: 261px;
  height: 261px;
  text-align: center;
  cursor: pointer;
  position: relative;
  z-index: 2;
  border-radius: 12px;
  -webkit-box-shadow: 4px 0px 10px #6a6a6a40;
          box-shadow: 4px 0px 10px #6a6a6a40;
}

.steps > .middle > .step > .case > .filter {
  background: #0378a6;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  opacity: 0.6;
  position: absolute;
}

.steps > .middle > .step > .case > .middle {
  margin-top: 104px;
  position: relative;
  z-index: 2;
  top: 37%;
}

.steps > .middle > .step > .case > .middle > h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 9px 0;
  text-transform: uppercase;
}

.steps > .middle > .step > .brand {
  position: relative;
  background: #049dbf;
  color: white;
  height: 261px;
  margin-left: 251px;
  width: 49vh;
  text-align: initial;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  -webkit-animation: 0.3s brand-appear alternate;
          animation: 0.3s brand-appear alternate;
}

.steps > .middle > .step > .brand.activate {
  display: block;
}

.steps > .middle > .step > .brand > p {
  position: absolute;
  top: -17px;
  margin: 65px 35px;
  font-size: 17px;
  width: 351px;
}

.steps > .middle > .step[step="1"] {
  top: 15%;
  left: 8%;
}

.steps > .middle > .step[step="1"] > .case {
  background: url(../images/steps/1-step.png);
}

.steps > .middle > .step[step="2"] {
  top: 53%;
  right: 8%;
}

.steps > .middle > .step[step="2"] > .case {
  background: url(../images/steps/2-step.png);
}

.steps > .middle > .step[step="2"] > .brand {
  right: 94%;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.steps > .middle > .step[step="3"] {
  left: 11%;
  bottom: -28%;
}

.steps > .middle > .step[step="3"] > .case {
  background: url(../images/steps/3-step.png);
}

.steps > .middle > .step[step="3"] > .brand {
  background: url(../images/steps/3-step.png);
}

.steps > .middle > .eclipse {
  width: 46px;
  height: 46px;
  background: #049dbf;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  margin-left: 90px;
}

footer > .wrapper {
  display: -webkit-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 97px;
}

/* RESPONSIVE */
/*@media screen and (max-width: 1035px) {}*/
footer {
  background: #023859;
  margin-top: 11%;
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

footer > .contact-us {
  background: #0378a6;
  width: 35%;
  height: 222px;
  margin-top: -124px;
  margin-bottom: 61px;
  border-radius: 45px;
  color: white;
}

footer > .contact-us > h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  letter-spacing: 4px;
  padding-top: 40px;
}

footer > .contact-us > .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .contact-us > .middle > .line {
  background: white;
  width: 26%;
  height: 2px;
  margin-top: 9px;
}

footer > .contact-us > .infos > p {
  margin: 23px 55px;
  font-size: 17px;
  letter-spacing: 2px;
}

footer > .contact-us > .infos > p.phone {
  letter-spacing: 3px;
}

footer > .contact-us > .infos > p.phone > .country {
  background: #049dbf;
  padding: 5px 9px;
  border-radius: 100px;
  margin-right: 5px;
}

footer > .wrapper {
  display: -webkit-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 97px;
}

footer > .wrapper > .left > img {
  margin-bottom: 16px;
}

footer > .wrapper > .left > p {
  width: 325px;
  color: white;
}

footer > .wrapper > .middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-left: 2%;
}

footer > .wrapper > .middle > .left {
  margin: 0 34px;
}

footer > .wrapper > .middle > .left > h4 {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  font-weight: 100;
  font-size: 22px;
  width: 266px;
}

footer > .wrapper > .middle > .left > p {
  margin-top: 19px;
  font-size: 18px;
}

footer > .wrapper > .middle > .right {
  margin: 0 34px;
}

footer > .wrapper > .middle > .right > h4 {
  border-bottom: 2px solid white;
  padding-bottom: 8px;
  font-weight: 100;
  font-size: 22px;
  margin-bottom: 18px;
  width: 266px;
}

footer > .wrapper > .middle > .right > a {
  color: white;
  font-size: 18px;
}

footer > .wrapper > .middle > .left > p {
  margin-top: 19px;
  font-size: 18px;
}

/* RESPONSIVE */
/*@media screen and (max-width: 1035px) {}*/
/* TRANSITIONS */
@-webkit-keyframes brand-appear {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 46vh;
    opacity: 1;
  }
}
@keyframes brand-appear {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 46vh;
    opacity: 1;
  }
}
@-webkit-keyframes brand-disapear {
  from {
    width: 46vh;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}
@keyframes brand-disapear {
  from {
    width: 46vh;
    opacity: 1;
  }
  to {
    width: 0;
    opacity: 0;
  }
}